<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueting.common.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.yueting.entity.po.UserInfo">
    <id column="id" property="id"/>
    <result column="username" property="username"/><result column="nickname" property="nickname"/>
    <result column="password" property="password"/><result column="avatar" property="avatar"/>
    <result column="gender" property="gender"/><result column="status" property="status"/>
    <result column="last_login_time" property="lastLoginTime"/>
    <result column="create_time" property="createTime"/><result column="update_time" property="updateTime"/>
  </resultMap>
  <sql id="BaseColumns">id,username,nickname,password,avatar,gender,status,last_login_time,create_time,update_time</sql>
  <select id="selectById" resultMap="BaseResultMap">SELECT <include refid="BaseColumns"/> FROM user_info WHERE id = #{id}</select>
  <select id="selectByUsername" resultMap="BaseResultMap">SELECT <include refid="BaseColumns"/> FROM user_info WHERE username = #{username}</select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_info (username,nickname,password,avatar,gender,status)
    VALUES (#{username},#{nickname},#{password},#{avatar},#{gender},#{status})
  </insert>
  <update id="update">UPDATE user_info
    <set>
      <if test="nickname != null">nickname = #{nickname},</if>
      <if test="avatar != null">avatar = #{avatar},</if>
      <if test="gender != null">gender = #{gender},</if>
      <if test="status != null">status = #{status},</if>
      <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
    </set> WHERE id = #{id}
  </update>
</mapper>